html{
	height:100%;
}


body{
	height:100%;
}

.flex-container{
	height: 100%;
	width: 800px;
	height: 1035px;
  	display: flex;
	flex-direction: column;
  	align-items: center;
	justify-content: center;
	margin:0 auto;
}


/*Border related*/
div#blue-border{
	height: 100%;
	width: 100%;
    border: 10px solid #2DAAE1;
	
}

div#inside-border{
	display: flex;
  	flex-direction: column;
	height: 100%;
	justify-content: center;
}


/* Header*/
div#header{
	display: flex;
  	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	flex-basis: auto;
	height: 10%;
	padding-top: 1%;
	position:relative;
}

img#scratchjr-logo{
/*	Learn more about flex*/
	padding-left: 2%;
	flex-basis: auto;
	width: 28%;
	height: auto;
	object-fit: contain;
}

div#section-title-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: auto;
	justify-content: center;
	width: 82%;
	height: 100%;
}

div#section-title{
	display: flex;
	flex-basis: auto;
	text-align: center;
	height:auto;
	flex-direction: column;
}

div#section-title-row1{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font: Arial;
	font-size: 11pt;
	color:#21A4DC;
}

div#section-title-row2{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font: Arial;
	font-size: 25pt;
	font-weight: bold;
	color:#21A4DC;
}

/* Where the content should go */
div#main-content{
	position: relative;
	height: 100%;
	margin-left:5%;
	margin-right:5%;
	font-size: 11pt;
}

/*Footer*/
div#footer{
	display: flex;
	flex-direction: row;
	flex-basis: auto;
  	align-items: center;
	justify-content: center;
	height: 4%;
   	width: auto;
}

img#cc-logo{
	height:90%;
	width: auto;
	object-fit: contain;
	margin: 1%;
}

div#footer-text{
	margin-left: 1%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font: Arial;
	font-size: 8pt;
}

img#devtech-logo{
	height: 90%;
	width: auto;
	margin: 1%;
	object-fit: contain;

}
